<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Instgram / Post List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>

    <form action="" method="get">
        <input type="text" name="q" value="{{ q }}"/>
        <input type="submit" value="검색"/>
    </form>
    <table class="table table-bordered table-hover">
    <tbody>
    {% for post in post_list %}
        <tr>
        <td>
            {% if post.photo %}
                <img src="{{ post.photo.url }}" style="width:50px;"/>
            {% else %}
                No Photo
            {% endif %}
        </td>
        <td>
            {{ post.message }}
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</body>
</html>